
.day-title-wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:10px;
    justify-content: flex-end;
    align-items: flex-end;
}
.week-setup {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.app-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(4, 32, 211);
    

    .motivational-quote {
        display: flex;
        justify-content: center;
        align-items: center;
        color:beige;
    }
}
